<div class="c-share">
    <slot></slot>

    <ul class="c-share__list u-clearfix">
        <li class="c-share__list-item"><a :data-link-name="events.SHARE_FACEBOOK" @click.prevent="onClickLink('facebook', $event)" class="c-share__link c-share__link--facebook" :href="facebookUrl" target="_blank"></a></li>
        <li class="c-share__list-item"><a :data-link-name="events.SHARE_TWITTER" @click.prevent="onClickLink('twitter', $event)" class="c-share__link c-share__link--twitter" :href="twitterUrl" target="_blank"></a></li>
        <li class="c-share__list-item"><a :data-link-name="events.SHARE_EMAIL" @click.prevent="onClickLink('email', $event)" class="c-share__link c-share__link--email" :href="emailUrl" target="_blank"></a></li>
    </ul>
</div>
