.c-interactive-menu {
    @include mq($from: tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__interactive-info {
        @include mq($from: tablet) {
            float: left;
            padding-top: 0;
            padding-right: 40px;
            width: (100% / 3);
        }
    }

    &__start-button {
        @include fs-textSans(5);
        padding: 20px 0 0;
        color: colour(white);
        font-weight: bold;
        text-align: left;
        &:hover {
            .c-interactive-menu__start-icon {
                background: colour(lightblue);
            }
        }
    }

    &__start-icon {
        margin-right: 12px;
        padding: 14px;
        width: (70px - (2 * 14) - 4);
        height: (70px - (2 * 14) - 4);
        background: colour(blue);
    }

    &__patrons {
        padding: 20px 0 0;
        text-align: justify;

        @include mq($from: tablet) {
            float: left;
            padding: 0;
            width: ((100% / 3) * 2);
            height: 100%;
        }

        > svg {
            width: (100% / 3);
            max-height: 100%;

            &:nth-child(1) {
                padding-right: 10px;
            }

            &:nth-child(2) {
                padding: 0 5px;
            }

            &:nth-child(3) {
                padding-left: 10px;
            }
        }
    }
}
