.c-interactive-menu {
    @include mq($from: tablet) {
        flex-flow: row nowrap;
        align-items: center;
    }

    &__challenge-previews {
        display: flex;
        flex-flow: row nowrap;
        flex: 1 1 auto;
        margin: 0;
        padding: 20px 0;
        overflow-x: scroll;

        @include mq($from: tablet) {
            display: block;
            flex: 3 3 0;
            overflow: visible;
        }
    }

    &__challenge-preview {
        position: relative;
        flex: 1 1 auto;
        margin: 0 10px;
        padding: 0 10px;
        min-width: 70%;
        text-align: center;

        &:first-of-type {
            margin: 0;
            padding: 0 0 0 20px;
        }

        &:last-of-type {
            margin: 0;
            padding: 0 20px 0 0;
        }

        @include mq($from: tablet) {
            display: inline-block;
            flex: none;
            margin: 0;
            padding: 0;
            width: (100% / 3);
            min-width: initial;

            &:first-of-type,
            &:last-of-type {
                padding: 0;
            }
        }

        > svg {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__title {
        @include fs-header(1);
        margin: 10px 0 0;
        color: colour(white);

        @include mq($from: tablet) {
            @include fs-header(2);
        }
    }

    &__start-button {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        margin: 30px auto 0;
        font-size: 36px;
        transform: translateX(-50%);

        @include mq($from: tablet) {
            display: block;
        }
    }

    &__interactive-info {
        @include mq($from: tablet) {
            flex: 1 1 0;
            padding-right: 40px;
        }
    }
}
