.c-interactive-menu {
    @include mq($from: tablet) {
        flex-flow: row nowrap;
        align-items: center;
    }

    &__challenge-previews {
        display: flex;
        flex-flow: row nowrap;
        flex: 1 1 auto;
        margin: 0;
        padding: 10px 0;
        overflow-x: scroll;

        @include mq($from: tablet) {
            display: block;
            flex: 3 3 0;
            overflow: visible;
        }
    }

    &__challenge-preview {
        position: relative;
        flex: 1 1 auto;
        margin: 0 10px;
        padding: 0 10px;
        min-width: 70%;
        text-align: center;
        background: none;
        border: none;
        outline: none;

        &:first-of-type {
            margin: 0;
            padding: 0 0 0 20px;
        }

        &:last-of-type {
            margin: 0;
            padding: 0 20px 0 0;
        }

        @include mq($from: tablet) {
            display: inline-block;
            flex: none;
            margin: 0;
            padding: 0;
            width: (100% / 3);
            min-width: initial;

            &:first-of-type,
            &:last-of-type {
                padding: 0;
            }
        }

        > svg {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__title {
        @include fs-bodyHeading(3);
        margin: 10px 0 0;
        color: colour(white);
    }

    &__start-button {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        margin: 30px auto 0;
        width: 62px;
        height: 62px;
        font-size: 36px;
        line-height: 56px;
        color: colour(white);
        background: transparentize(colour(black), 0.8);
        border: 2px solid transparentize(colour(white), 0.2);
        border-radius: 50%;
        transform: translateX(-50%);

        @include mq($from: tablet) {
            display: block;
        }
    }

    &__prompt {
        @include fs-header(2);
        margin: 0;
        padding: 0 0 30px;
        color: transparentize(colour(white), 0.4);
        text-align: center;

        @include mq($from: tablet) {
            display: none;
        }
    }

    > .c-interactive-info {
        @include mq($from: tablet) {
            flex: 1 1 0;
        }
    }
}
