<div class="c-interactive-menu l-horizontal-padding u-clearfix">
    <interactive-info
        class="c-interactive-menu__interactive-info" title="Interactive: Play with your food"
        description="Can you use the science of neurogastronomy to affect the way people perceive food? Choose a picky eater and see if you can satisfy them">
        <button :data-link-name="events.INT_START" class="c-interactive-menu__start-button" @click="onClickStartButton">
            <icon class="c-interactive-menu__start-icon c-icon--circular c-icon--bordered" name="arrow-right"></icon>
            <span class="c-interactive-menu__start-text">Start playing</span>
        </button>
    </interactive-info>

    <div class="c-interactive-menu__challenge-previews">
        <partial v-for="(id, challenge) of challenges" :name="`patron-${ id }`"></partial>
    </div>
</div>
