<div class="c-interactive-menu l-horizontal-padding u-clearfix">
    <interactive-info
        class="c-interactive-menu__interactive-info animate" title="Interactive: Play with your food"
        description="Can you use the science of neurogastronomy to affect the way people perceive food?">
        <button :data-link-name="events.INT_START" class="c-interactive-menu__start-button" @click.prevent="onClickStartButton">
            <icon class="c-interactive-menu__start-icon c-icon--circular" name="arrow-right"></icon>
            <span class="c-interactive-menu__start-text">Start playing</span>
        </button>
    </interactive-info>

    <div class="c-interactive-menu__patrons">
        <partial v-for="patron of patrons" :name="`patron-${ patron.id }`"></partial>
    </div>
</div>
