.c-interactive-info {
    padding-top: 25px;

    &.enter {
        animation: fade-in 0.5s, from-the-left 0.5s;
    }

    &.leave {
        animation: fade-out 0.5s, to-the-right 0.5s;
    }

    &::before {
        content: '';
        display: block;
        width: 50px;
        height: 8px;
        background: colour(white);

        @include mq($from: tablet) {
            width: 100px;
            height: 16px;
        }
    }

    &__title,
    &__description {
        margin: 0;
    }

    &__title {
        @include fs-header(2);
        padding-top: 12px;

        @include mq($from: tablet) {
            @include fs-header(7);
        }
    }

    &__description {
        @include fs-bodyHeading(1);
        padding-top: 3px;
        color: transparentize(colour(white), 0.4);

        @include mq($from: tablet) {
            @include fs-header(5);
        }
    }
}
