<div :id="content.id" class="c-subhead l-container" :class="{ 'l-horizontal-padding': !content.video_path, 'c-subhead--with-video': content.video_path, 'c-subhead--without-video': !content.video_path }">
    <template v-if="content.video_path">
        <video v-if="config.isCapable" :autoplay="true" loop muted :path="content.video_path" :bandwidth="config.bandwidth"></video>
        <responsive-image v-else class="l-cover" :path="content.image_path"></responsive-image>

        <div class="c-subhead__outer c-subhead--with-video__outer">
            <div class="c-subhead__inner c-subhead--with-video__inner l-container l-horizontal-padding">
                <h4 class="c-subhead__title c-subhead--with-video__title l-text-container">{{{ content.text }}}</h4>
            </div>
        </div>
    </template>
    <template v-else>
        <h4 :id="content.id" class="l-text-container">{{{ content.text }}}</h4>
    </template>
</div>
