<div class="c-interactive-task u-clearfix">
    <div class="c-interactive-task__info l-horizontal-padding">
        <p class="c-interactive-task__progress">{{ index + 1 }} of {{ numberOfTasks }}</p>
        <h5 class="c-interactive-task__title">{{ task.title }}</h5>
        <p class="c-interactive-task__description">{{ task.description }}</p>

        <button v-if="isAnswered" class="c-interactive-task__next-button" @click="onClickNextButton">
            <icon class="c-interactive-task__next-icon c-icon--circular c-icon--bordered" name="arrow-right"></icon>
            <span class="c-interactive-task__next-text">Next Challenge</span>
        </button>
    </div>

    <div class="c-interactive-task__main l-horizontal-padding">
        <div class="c-interactive-task__place-setting">
            <partial :name="placeSettingPartialName"></partial>
        </div>

        <ul class="c-interactive-task__options">
            <li v-for="option of task.options" class="c-interactive-task__option">
                <button class="c-interactive-task__option-button"
                        :class="{ 'is-selected': option.id === selectedOptionId, 'is-active': !isAnswered }"
                        @click="onSelectOption(option)"
                        @mouseover="onMouseOverOption(option.id)"
                        @mouseout="onMouseOutOption">
                    <template v-if="isAnswered">
                        <icon v-if="option.isCorrect" class="c-interactive-task__result-icon c-interactive-task__result-icon--right" name="result-right"></icon>
                        <icon v-else class="c-interactive-task__result-icon c-interactive-task__result-icon--wrong" name="result-wrong"></icon>
                    </template>

                    {{ option.title }}
                </button>
            </li>
        </ul>
    </div>

    <div class="c-interactive-task__patron">
        <partial :name="patronPartialName"></partial>
    </div>
</div>
