.c-byline {
    position: relative;
    color: colour(neutral-2);
    background: colour(white);

    &__inner {
        padding-top: 10px;

        @include mq($from: desktop) {
            position: absolute;
            top: 26px;
            left: 40px;
        }

        @include mq($from: leftCol) {
            left: 40px;
            width: 210px;
        }

        @include mq($from: wide) {
            left: 40px;
            width: 290px;
        }
    }

    &__sponsorship {
        margin-bottom: 10px;
        border-top: 1px dotted #dfdfdf;
        border-bottom: 1px dotted #dfdfdf;
    }

    &__details {
        @include mq($until: desktop) {
            position: relative;
            padding-right: 120px;
        }
    }

    &__sponsorship-title,
    &__publish-date {
        @include fs-textSans(1);
    }

    &__sponsorship-title,
    &__authors {
        margin: 0;
    }

    &__publish-date {
        display: block;
        margin-top: 5px;
    }

    &__share {
        @include mq($until: desktop) {
            position: absolute;
            top: 0;
            right: 0;
        }

        @include mq($from: desktop) {
            margin-top: 15px;
        }
    }
}
