.c-byline {
    background: colour(white);

    &__authors {
        @include fs-headline(1);
        margin: 0;
        padding-top: 20px;

        @include mq($from: desktop) {
            @include fs-headline(2);
        }
    }

    &__publish-date {
        @include fs-textSans(1);
        display: block;
        margin-top: 10px;
    }
}
