<div class="c-byline l-container l-horizontal-padding">
    <div class="c-byline__inner l-text-container">
        <div class="c-byline__sponsorship">
            <p class="c-byline__sponsorship-title">Supported by:</p>

            <a :href="content.sponsorship_link">
                <img class="c-byline__sponsorship-image" :src="getImageUrl('/assets/img/seat-logo.jpg')" alt="Seat logo">
            </a>
        </div>

        <div class="c-byline__details">
            <p class="c-byline__authors">
                By
                <template v-for="(index, author) of content.authors">
                    <template v-if="index > 0">
                        <template v-if="index === credit.entities.length - 1"> and </template>
                        <template v-else>, </template>
                    </template>
                    <a v-else :href="author.url">{{ author.title }}</a>
                </template>
            </p>

            <time class="c-byline__publish-date">{{ content.date_published }}</time>

            <share class="c-byline__share" :text="content.share_text" :url="content.share_url"></share>
        </div>
    </div>
</div>
