<div class="c-byline l-container l-horizontal-padding">
    <div class="c-byline__inner l-text-container">
        <div class="c-byline__sponsorship">
            <p class="c-byline__sponsorship-title">Supported by:</p>

            <img class="c-byline__sponsorship-image" :src="`${ config.assetPath }/assets/img/seat-logo.jpg`" alt="Seat logo">
        </div>

        <time class="c-byline__publish-date">{{ content.date_published }}</time>

        <share class="c-byline__share" :text="content.share_text" :url="content.share_url"></share>
    </div>
</div>
