<div class="c-tracking">
<!-- TRACKING -->
    <!-- YouGov -->
    <!--
    YouGov tracking url ('//tracker.yougov.com/campaign/11?name=inter') is being
    loaded asynchronously by this component in the `init` function.
    -->
    <!-- /YouGov -->

    <!-- PHD Floodlight  -->
    <!--
    Start of DoubleClick Floodlight Tag: Please do not remove
    Activity name of this tag: Guardian Interactive - Supported By Hub
    URL of the web page where the tag is expected to be placed: http://www.tbc
    This tag must be placed between the <body> and </body> tags, as close as
    possible to the opening tag.
    Creation Date: 04/20/2016
    -->
    <iframe src="https://4331858.fls.doubleclick.net/activityi;src=4331858;type=hub;cat=guard00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1;num={{ randomNumber }}?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    <!-- /PHD Floodlight  -->
<!-- /TRACKING -->
</div>
