.c-icons {
    display: none;
}

.c-icon {
    display: inline-block;
    vertical-align: middle;

    &__image {
        display: block;
        width: 100%;
        height: 100%;
        fill: currentColor;
    }

    &--round {
        border: 2px solid currentColor;
        border-radius: 50%;
    }
}
