.c-icons {
    display: none;
}

.c-icon {
    box-sizing: content-box;
    display: inline-block;
    vertical-align: middle;

    &__image {
        display: block;
        width: inherit;
        height: inherit;
        fill: currentColor;
    }

    &--circular {
        border-radius: 50%;
    }

    &--bordered {
        border: 2px solid currentColor;
    }
}
