.c-navigation {
    margin: 0;
    padding: 0;
    background: colour(news-support-7);

    &__list {
        position: relative;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
        list-style: none;
        white-space: nowrap;
        overflow-x: scroll;

        @include mq($from: tablet) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    &__item {
        @include fs-bodyHeading(1);
        display: inline-block;

        & + & {
            margin-left: 36px;
        }
    }

    &__link {
        &,
        &:hover {
            color: transparentize(colour(white), 0.4);
            text-decoration: none;
        }
    }

    &__link-text {
        color: colour(white);

        .c-navigation__link:hover & {
            color: colour(news-support-4);
        }
    }
}
