<div class="c-copy{{#each content.modifiers}} c-copy--{{this}}{{/each}} l-container">
    <div class="c-copy__content{{#each content.modifiers}} c-copy--{{this}}__content{{/each}}">
        {{#each content.copy}}
            <p class="c-copy__text{{#each ../content.modifiers}} c-copy--{{this}}__text{{/each}}">{{{this}}}</p>
        {{/each}}
    </div>
</div>
