.c-interactive {
    position: relative;
    height: 100%;
    color: colour(white);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: colour(white) url(../assets/img/bg.png) no-repeat center center;
        background-size: cover;
        opacity: 0.6;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: colour(news-support-3);
        opacity: 0.8;
    }

    &__view {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        z-index: 1;
        height: 100%;

        > * {
            width: 100%;
        }
    }
}
