<section class="c-interactive" :class="{ 'has-started': hasStarted }">
    <interactive-info :title="title" :description="description"></interactive-info>
    <!-- <button v-if="!hasStarted" @click="start" transition="fade" class="c-interactive__button c-interactive__button--play"></button> -->
    <div class="c-interactive-personas">
        <button class="c-interactive-personas__persona">
            <partial name="persona-1"></partial>
            <h6 class="c-interactive-personas__description">Looking for sweet</h6>
        </button>
        <button class="c-interactive-personas__persona">
            <partial name="persona-2"></partial>
            <h6 class="c-interactive-personas__description">Looking for sweet</h6>
        </button>
        <button class="c-interactive-personas__persona">
            <partial name="persona-3"></partial>
            <h6 class="c-interactive-personas__description">Looking for sweet</h6>
        </button>
    </div>
    <p class="c-interactive__prompt">Select your customers to start</p>
</section>
