.c-header {
    overflow: hidden;
    position: relative;
    padding-top: 42px;
    background: colour(news-support-3);

    @include mq($until: tablet, $and: '(min-height: 360px)') {
        min-height: 100%;

        &__description {
            position: absolute;
            bottom: 0;
        }
    }

    @include mq($from: tablet, $and: '(min-height: 768px)') {
        min-height: 90%;

        &__inner {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }

    &__video {
        display: none;

        @include mq($from: tablet) {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            opacity: 0.6;
        }
    }

    &__subtitle,
    &__headline,
    &__description-text {
        margin-top: 0;
        margin-bottom: 0;

        @include mq($from: tablet) {
            @include fs-headline(9, $size-only: true);
            padding-left: gs-span(6) + $gs-gutter;
        }
    }

    &__subtitle {
        @include fs-header(2);
        color: colour(news-support-4);

        @include mq($from: tablet) {
            @include fs-header(4, $size-only: true);
        }
    }

    &__headline {
        @include fs-headline(6);
        padding-top: 4px;
        padding-bottom: 16px;
        color: colour(white);

        @include mq($from: tablet) {
            @include fs-headline(10, $size-only: true);
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }

    &__description {
        background: transparentize(colour(news-support-4), 0.4);
    }

    &__description-text {
        @include fs-header(2);
        padding-top: 20px;
        padding-bottom: 20px;
        color: transparentize(colour(white), 0.4);

        @include mq($from: tablet) {
            @include fs-header(4, $size-only: true);
            position: static;
            padding-top: 30px;
            padding-bottom: 50px;
        }
    }
}
