.c-header {
    overflow: hidden;
    position: relative;

    @include mq($until: tablet) {
        height: 100%;
    }

    &__outer {
        position: absolute;
        z-index: 2;
        bottom: 0;
        margin: 0 auto;
        padding-top: 24px;
        padding-bottom: 36px;
        width: 100%;
        color: colour(white);
        background: transparentize(colour(black), 0.8);
    }

    &__inner {
        max-width: 740px;
    }

    &__subtitle,
    &__headline,
    &__description-text {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__subtitle {
        @include fs-header(2);
        padding-bottom: 12px;

        @include mq($from: tablet) {
            @include fs-header(4, $size-only: true);
        }
    }

    &__subtitle-link {
        &,
        &:hover {
            color: colour(news-support-4);
        }
    }

    &__headline {
        @include fs-headline(5);
        padding-bottom: 12px;
        color: colour(white);
        font-weight: 200;

        @include mq($from: tablet) {
            @include fs-headline(10, $size-only: true);
            padding-bottom: 24px;
        }
    }

    &__description {
        @include fs-bodyCopy(3);
        margin: 0;
        padding-bottom: 24px;

        @include mq($from: tablet) {
            @include fs-header(2);
            margin-left: 110px;
        }
    }

    .is-mobile & {
        .c-header__video {
            visibility: hidden;
            z-index: 0;
        }
    }

    &__video {
        position: relative;
        z-index: 1;
        width: 100%;
        height: auto;

        &--primary {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
    }

    &__play-button {
        float: left;
        color: colour(news-support-4);
        border: 2px solid colour(news-support-4);
    }
}
