<header class="c-header">
    <div class="c-header__inner">
        <h2 class="c-header__subtitle o-container">{{content.subtitle}}</h2>
        <h1 class="c-header__headline o-container">{{content.headline}}</h1>
        <div class="c-header__description">
            <p class="c-header__description-text o-container">{{content.description}}</p>
        </div>
    </div>
</header>
