<header class="c-header">
    <template v-if="config.isMobile">
        <responsive-image class="l-cover" :path="content.image_path"></responsive-image>
        <video class="c-header__video l-cover" :path="content.video_path" :bandwidth="config.bandwidth"></video>
    </template>
    <template v-else>
        <video id="js-preview-video" class="c-header__video c-header__video--preview" autoplay loop muted :path="content.preview_path" :bandwidth="config.bandwidth"></video>
        <video id="js-primary-video" class="c-header__video c-header__video--primary" preload="auto" has-controls :path="content.video_path" :bandwidth="config.bandwidth"></video>
    </template>

    <div id="js-overlay" class="c-header__outer">
        <div class="l-container">
            <div class="c-header__inner l-horizontal-padding">
                <h2 class="c-header__subtitle">
                    <a class="c-header__subtitle-link" href="https://www.theguardian.com/brain-waves">{{ content.subtitle }}</a>
                </h2>
                <h1 class="c-header__headline">{{ content.headline }}</h1>
                <p v-if="config.isMobile" class="c-header__description">{{ content.description }}</p>
                <button class="c-header__play-button c-button--circle" :class="{ 'c-button--large-circle': !config.isMobile }" @click="onClickPlayButton">Play</button>
                <p v-if="!config.isMobile" class="c-header__description">{{ content.description }}</p>
            </div>
        </div>
    </div>
</header>
