<header class="c-header">
    <div class="c-header__inner">
        <h2 class="c-header__subtitle">{{content.subtitle}}</h2>
        <h1 class="c-header__headline">{{content.headline}}</h1>
        <p class="c-header__description">{{content.description}}</p>
    </div>
</header>
