<header class="c-header">
    <template v-if="config.isHandheld">
        <responsive-image id="js-preview-image" class="l-cover" :path="content.image_path"></responsive-image>
        <video id="js-primary-video" class="c-video--primary" :class="{ 'l-cover': config.isMobile }" has-controls :path="content.video_path" :bandwidth="config.bandwidth"></video>
    </template>
    <template v-else>
        <video id="js-preview-video" class="c-video--preview" autoplay loop muted :path="content.preview_path" :bandwidth="config.bandwidth"></video>
        <video id="js-primary-video" class="c-video--primary" preload="auto" has-controls :path="content.video_path" :bandwidth="config.bandwidth"></video>
    </template>

    <div id="js-overlay" class="c-header__outer">
        <div class="l-container">
            <div class="c-header__inner l-horizontal-padding u-clearfix">
                <h2 class="c-header__subtitle">
                    <a class="c-header__subtitle-link" href="https://www.theguardian.com/brain-waves">{{ content.subtitle }}</a>
                </h2>
                <h1 class="c-header__headline">{{ content.headline }}</h1>
                <p class="c-header__description">{{ content.description }}</p>
                <button :data-link-name="events.VIDEO_PLAY" class="c-header__play-button" @click.prevent="onClickPlayButton">
                    <icon class="c-header__play-icon c-icon--circular c-icon--bordered" name="play"></icon>
                    <span class="c-header__play-text">Play video</span>
                </button>
            </div>
        </div>
    </div>
</header>
