<div class="c-video" :class="{ 'is-playing': isPlaying }">
    <template v-if="hasControls">
        <video class="c-video__player js-video-player" @pause="onPause" @ended="onEnded" :poster="poster" :preload="preload" :loop="loop" :muted="muted" :autoplay="autoplay">
            <source v-for="source in sources" :src="source.src" type="video/{{ source.format }}"></source>
        </video>

        <div v-if="isPlaying" class="c-video__controls">
            <button class="c-video__pause-button" @click.prevent="onClickPauseButton">
                <icon class="c-video__pause-icon c-icon--circular c-icon--bordered" name="pause"></icon>
                <span class="c-video__pause-text">Pause</span>
            </button>

            <div :data-link-name="events.VIDEO_SCRUB" class="js-seek-bar c-video__seek-bar" @click.prevent="onClickSeekBar">
                <div class="c-video__progress-bar" :style="{ width: `${ progress }%` }"></div>
            </div>
        </div>
    </template>
    <template v-else>
        <video class="c-video__player js-video-player" :poster="poster" :preload="preload" :loop="loop" :muted="muted" :autoplay="autoplay">
            <source v-for="source in sources" :src="source.src" type="video/{{ source.format }}"></source>
        </video>
    </template>
</div>
