html,
body,
figure.interactive {
    margin: 0;
    padding: 0;
    background: colour(neutral-6);
}

.interactive {
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
}

// Link styles don't exist on the app
a {
    text-decoration: none;

    &,
    &:hover,
    &:active {
        color: #005689;
    }

    &:hover {
        text-decoration: underline;
    }
}
