.l-container,
.l-text-container {
    margin: 0 auto;
}

.l-container {
    @each $breakpoint in (tablet desktop leftCol wide) {
        @include mq($from: $breakpoint) {
            max-width: map-get($mq-breakpoints, $breakpoint);
        }
    }
}

.l-text-container {
    @include mq($from: tablet) {
        max-width: gs-span(7) + $gs-gutter;
    }
}

.l-horizontal-padding {
    padding-right: 20px;
    padding-left: 20px;
}

.l-cover {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.l-fill-width {
    display: block;
    width: 100%;
    height: auto;
}
