@import 'bower_components/pasteup-palette/src/_palette.scss';

$pasteup-palette: map-merge(
    $pasteup-palette,
    (
        white: #fff,
        black: #000,
        twitter: #03b3ee,
        facebook: #3067a3,
        email: #767676,
        blue: #005580
    )
);

@function colour($name) {
    @return map-get($pasteup-palette, $name);
}
