@import 'bower_components/guss-typography/_typography.scss';

// NOTE: this extends the guss typography type scale to keep things somewhat DRY
$font-scale: map-merge(
    $font-scale,
    (
        headline: map-merge(
            map-get($font-scale, headline),
            (
                10: (font-size: 62, line-height: 66),
                11: (font-size: 96, line-height: 96),
                12: (font-size: 114, line-height: 114)
            )
        ),
        header: map-merge(
            map-get($font-scale, header),
            (
                6: (font-size: 32, line-height: 36),
                7: (font-size: 40, line-height: 44)
            )
        ),
        textSans: map-merge(
            map-get($font-scale, textSans),
            (
                5: (font-size: 16, line-height: 20)
            )
        )
    )
);
