.u-clearfix {
    *zoom: 1;

    &::before,
    &::after {
        content: ' ';
        display: table;
    }

    &::after {
        clear: both;
    }
}

.u-to-the-back {
    z-index: -1 !important;
}
