.c-interactive-object {
    flex: 1 auto;

    @include mq($from: tablet) {
        position: relative;
    }

    &__object {
        padding: 0;
        background: none;
        border: none;
        outline: none;
    }

    &__image {
        @include mq($until: tablet) {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__label {
        @include fs-bodyCopy(1);
        color: colour(white);
    }
}
