.c-interactive-results {
    > * {
        position: relative;
        z-index: 2;
    }

    &__restart-button {
        position: absolute;
        bottom: 12px;
        z-index: 1;
        width: auto;

        @include mq($until: tablet) {
            left: 50%;
            transform: translateX(-50%);
        }

        @include mq($from: tablet) {
            right: 30px;
            bottom: 30px;
        }
    }

    &__restart-icon {
        margin-right: 2px;
        width: 16px;
        height: 16px;
    }

    &__patron {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;

        @include mq($from: tablet) {
            width: 50%;
        }

        > svg {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
